<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      xiao link
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <h1> Simplify your links </h1>
      <form class="submit-button" action="links" method="post">
        <input type="text" id="url" value="" placeholder="your link here">
        <input type="submit" value="shorten!">
      </form>
      <h2>Your short URL </h2>

      <div>
        <p>
        <span>http://localhost:3000/</span><span class='display'></span>
      </p>
      </div>

  </body>
</html>
